* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  /* GRID */
  .container{
    
    max-width:120rem;
    margin:0 auto;
    padding:1.5rem;
    width:100%;
}

/* HEADER */
.header{
    background:#2b2b2b;
    position:relative;
    z-index:999;
    position:fixed;
    width:100%;
  }
  .header h3 span{
    color: var(--primary);
  }
  .header .branding{
    display:flex;
    align-items:center;
    gap:2rem;
  }
  .header .branding h3{
color:#ffffff;
font-size:2.5rem;
font-weight:600;
  }
  .header .header__nav ul{
    display:flex;
    align-items:center;
    gap:2.5rem;
  }
  .header .header__nav ul li a{
    color:#ffffff;
  }
  .header .header__nav ul li:hover a{
    color:#ffa700;
  }
.header .header__nav ul li:hover{
  scale:1.1;
  transition:.5s ease;
}

  .header .header__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  .burgir__menu span{
    width:3rem;
    height:.3rem;
    background-color:var(--light);
    display:block;
    border-radius:5rem;
    transition:.5s ease
  }
  .burgir__menu span:nth-child(2){
    margin:.5rem 0;
  }
.burgir__menu{
  display:none;
}
.burgir__menu.open span:first-child{
  transform:translate(0,10px) rotate(225deg);
  transition:.5s ease;
}
.burgir__menu.open span:last-child{
  transform:translate(0,-7px) rotate(-225deg);
  transition:.5s ease;
}
.burgir__menu.open span:nth-child(2){
  opacity:0;
  transition:.5s ease;
}

@media screen and ( max-width:486px){
  .burgir__menu{
    display:block;
  }
  .header__nav{
    background:gray;
    position:absolute;
    top:10.3rem;
    right:-100rem;
    width:100%;
    height:100vh;
    transition:.5s ease
  }
  .header__nav.open{
    right:0;
    transition:.5s ease;
  }
  .header__nav ul{
    display:flex;
    flex-direction:column;
    transform:translateY(10rem);
  }
  .header .header__nav ul li a{
font-size:3.5rem;
  }
}





/* DESIGN */
.design{
    padding:15rem 0;
    background:#ffffff;
}
.design .design__text{
    max-width:35rem;
    text-align:justify;
}
.design .design__text h1{
    font-size:4.6rem;
    color:#ffa700;
    font-weight:800;
    line-height:1;
}
.design .design__text h2{
    font-size:4rem;
    color:#ffa700;
    font-weight:700;
    line-height:1;
    margin:1.5rem 0;
}
.design .design__text h3{
    font-size:2rem;
    font-weight:700;
    line-height:1;
}
.design .design__text h4{
    font-style:italic;
}
.design .design__text p{
    margin:3.5rem 0;
    line-height:1.2
    font-weight:600;

}
.design .design__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
@media screen and ( max-width:486px){
    .design .design__wrapper{
        display:flex;
        flex-direction: column-reverse;
    }
    .design img{
        width:25rem;
    }
    .design .design__text h1{
        font-size: 3rem;
    }
    .design .design__text{
        max-width:fit-content;
        text-align:center;
    }
}



/* VECTOR */
.vector{
    padding:5rem 0;
    background:#2b2b2b;
}
.vector__text{
    max-width:35rem;    
}
.vector .vector__text p{
    text-align:justify;

}
.vector .vector__text h1{
    font-size:4.6rem;
    color:#ffa700;
    font-weight:800;
    line-height:1;
    margin:1rem 0;
}
.vector .vector__text h2{
    font-size:4rem;
    color:#ffa700;
    font-weight:700;
    line-height:1;
    margin:1.5rem 0;
}
.vector .vector__text h3{
    font-size:2rem;
    font-weight:700;
    line-height:1;
    color:#ffffff
}
.vector .vector__text h4{
    font-style:italic;
    color:#ffffff
}
.vector .vector__text p{
    margin:3.5rem 0;
    line-height:1.2
    font-weight:600;
    color:#ffffff

}
.vector .vector__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:row-reverse;
}
@media screen and ( max-width:486px){
    .vector .vector__wrapper{
        display:flex;
        flex-direction: column-reverse;
    }
    .vector img{
        width:25rem;
    }
    .vector .vector__text h1{
        font-size: 3rem;
    }
    .vector .vector__text{
        max-width:fit-content;
        text-align:center;
    }
}






/* MEDIA */
.media{
    padding:5rem 0;
    background:#ffffff;
}
.media .media__text{
    max-width:35rem;
    text-align:justify;
}
.media .media__text h1{
    font-size:4.6rem;
    color:#ffa700;
    font-weight:800;
    line-height:1;
}
.media .media__text h2{
    font-size:4rem;
    color:#ffa700;
    font-weight:700;
    line-height:1;
    margin:1.5rem 0;
}
.media .media__text h3{
    font-size:2rem;
    font-weight:700;
    line-height:1;
}
.media .media__text h4{
    font-style:italic;
}
.media .media__text p{
    margin:3.5rem 0;
    line-height:1.2
    font-weight:600;

}
.media .media__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
@media screen and ( max-width:486px){
    .media .media__wrapper{
        display:flex;
        flex-direction: column-reverse;
    }
    .media img{
        width:25rem;
    }
    .media .media__text h1{
        font-size: 3rem;
    }
    .media .media__text{
        max-width:fit-content;
        text-align:center;
    }
}


  /* CTS */
  
  .cnt{
    background:#ffa700;
    padding:5rem 0;
  }
  .cnt__wrapper{
    text-align:center;
  }
  .cnt h2{
    font-size:4rem;
    font-weight:600;
  }
  .cnt p{
    margin-bottom:3rem;
  }
  .btn.bg--dark{
    background:#2b2b2b;
    color:#ffffff;
  }
  .btn.bg--dark:hover{
    background:transparent;
    border:1px solid #2b2b2b;
    color:#2b2b2b;
    scale:1.1;
    transition:.5s ease;
  }
  @media screen and ( max-width:486px){
    .cnt h2{
        font-size:2.5rem;
        font-weight:750;
      }
      .cnt p{
        margin-top: 2rem;
        font-size:1.5rem;
      }
      .cnt a{
        font-size:1.5rem;
    
      }
  }



  /* FOOTER */
.footer{
    background:var(--dark);
    padding:2rem 0;
  
  }
  .footer__wrapper{
  color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  .footer__social{
    display:flex;
    align-items:center;
  }
  .footer__social a{
    color: gray;
    font-size:2rem;
  }
  .footer__social ul{
    display:flex;
    align-items:center;
  }
  @media screen and ( max-width:486px){
    .footer__wrapper{
      display:flex;
      flex-direction:column;
      align-items:center;
    }
    .footer__social{
      display:flex;
      flex-direction:column;
    }
    }
  














:root{
    --dark:#2b2b2b;
    --light:#ffffff;
    --primary:#ffa700;
  }

  .btn{
    display:inline-block;
    padding:1rem 1.5rem;
    border-radius:5rem;
    border:1px solid transparent;
    text-align:center;
    transition:5s ease;
  }
  .btn.bg--primary{
    background:#ffa700;
    color:#ffffff;

  }
  .btn.bg--primary:hover{
    background:#2b2b2b;
    BORDER:1PX solid #ffffff;
    scale:1.1;
    transition:5s ease;
  }

