* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }

  /* GRID */
.container{
    
    max-width:120rem;
    margin:0 auto;
    padding:1.5rem;
    width:100%;
}
  /* HEADER */
  .header{
    background:#2b2b2b;
    position:relative;
    z-index:999;
    position:fixed;
    width:100%;
  }
  .header h3 span{
    color: var(--primary);
  }
  .header .branding{
    display:flex;
    align-items:center;
    gap:2rem;
  }
  .header .branding h3{
color:#ffffff;
font-size:2.5rem;
font-weight:600;
  }
  .header .header__nav ul{
    display:flex;
    align-items:center;
    gap:2.5rem;
  }
  .header .header__nav ul li a{
    color:#ffffff;
  }
  .header .header__nav ul li:hover a{
    color:#ffa700;
  }
.header .header__nav ul li:hover{
  scale:1.1;
  transition:.5s ease;
}

  .header .header__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  .burgir__menu span{
    width:3rem;
    height:.3rem;
    background-color:var(--light);
    display:block;
    border-radius:5rem;
    transition:.5s ease
  }
  .burgir__menu span:nth-child(2){
    margin:.5rem 0;
  }
.burgir__menu{
  display:none;
}
.burgir__menu.open span:first-child{
  transform:translate(0,10px) rotate(225deg);
  transition:.5s ease;
}
.burgir__menu.open span:last-child{
  transform:translate(0,-7px) rotate(-225deg);
  transition:.5s ease;
}
.burgir__menu.open span:nth-child(2){
  opacity:0;
  transition:.5s ease;
}

@media screen and ( max-width:486px){
  .burgir__menu{
    display:block;
  }
  .header__nav{
    background:gray;
    position:absolute;
    top:10.3rem;
    right:-100rem;
    width:100%;
    height:100vh;
    transition:.5s ease
  }
  .header__nav.open{
    right:0;
    transition:.5s ease;
  }
  .header__nav ul{
    display:flex;
    flex-direction:column;
    transform:translateY(10rem);
  }

  }
  .header .header__nav ul li a{
font-size:2rem;
  }

  /* banner */
  .banner{
    padding:5rem 0;
    background:#ffffff;
  }
  .banner .banner__text{
    max-width:35rem;
    text-align:justify;
  }
  .banner .banner__text h1{
    font-size:8rem;
    color:#ffa700;
    font-weight:800;
    line-height:1;
  }
  .banner .banner__text p{
    margin:5rem 0;
  }
  .banner .banner__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  @media screen and ( max-width:486px){
    .banner .banner__wrapper{
      display:flex;
      flex-direction:column-reverse;
    }
    .banner img{
      width:25rem;
    }
    .banner .banner__text h1{
      font-size:3rem;

    }
    .banner .banner__text{
      max-width:fit-content;
      text-align:center;
    }
  }

  /* SRVC */
  .srvc{
    background:var(--dark);
    padding:5rem 0;
  }
  .srvc__item i{
    font-size:5rem;
    color:var(--primary);
  }
  .srvc__item h4{
    font-weight:600;
    color:var(--primary);
    margin:2rem 0;
  }
  .srvc__item p{
    text-align:justify;
    margin-bottom:3rem;
    color:var(--light);
  }
  @media screen and ( max-width:486px){
    .srvc .srvc__wrapper{
      display:flex;
      flex-direction:column-reverse;
    }
    .srvc img{
      width:25rem;
    }
    .srvc .srcv__text h1{
      font-size:3rem;

    }
    .srvc .srvc__text{
      max-width:fit-content;
      text-align:center;
      
    }

  }
  /* ABOUT ME */
  .abt{
    padding:5rem 0;
    background:var(--light);
  }
  .abt__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  .abt__text{
    max-width:60rem;
  }
  .abt__text h4{
    color:var(--primary);
    font-weight:600;
    font-size:3rem;
  }
  .abt__text p{
    margin:2rem 0;
    text-align:justify;
  }
  @media screen and ( max-width:486px){
    .abt .abt__wrapper{
    display:flex;
    flex-direction:column;
  }
  .abt img{
    width:25rem;
  }
  .abt .abt__text h1{
    font-size:4rem;

  }
  .abt .abt__text{
    max-width:fit-content;
    text-align:center;
    font-size:1.5rem;
  }
  
  }

  


/* TRENDS */
.trends{
  padding:5rem 0;
  background:var(--dark);
}
.trends__title h2{
  font-size:4rem;
  color:var(--primary);
  font-weight:600;
}
.trends__title p{
  color:var(--light);
}
.trends__title{
  margin-bottom: 6rem;
}
.trends__card{
  background:var(--light);
  border-radius:2rem

}
.trends__wrapper{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:5rem;
  
}
.trends__card{
  transition:.5s ease;
}
.trends__text{
  padding:1rem;
}
.trends__text p{
  margin:2rem 0;

}
.trends__text h4{
  color:var(--primary);
  font-weight:600;
}
.trends__text a{
  color:var(--primary);
}
.trends__text a:hover{
  color:var(--dark);

}
.trends__card:hover{
  scale:1.1;
  transition:.5s ease;
}
@media screen and ( max-width:486px){
  .trends__title{
  text-align:center;
  }
  .trends__wrapper{
  display:flex;
  flex-direction:column
  }
  .trends__text{
    text-align:center;   
  }
  .trends__text h4{
  font-size: 2rem;
  }
  .trends__card{
    display:grid;
    align-items:center;
    border-radius:3rem;
  }
  .trends__card img{
    width:50rem;
  }

}


  /* CNT */
  
.cnt{
  background:var(--primary);
  padding:5rem 0;
}
.cnt__wrapper{
  text-align:center;
}
.cnt h2{
  font-size:4rem;
  font-weight:600;
}
.cnt p{
  margin-bottom:3rem;
}
.btn.bg--dark{
  background:var(--dark);
  color:#ffffff;
}
.btn.bg--dark:hover{
  background:transparent;
  border:1px solid var(--dark);
  color:var(--dark);
  scale:1.1;
  transition:.5s ease;
}
@media screen and ( max-width:486px){
  .cnt h2{
    font-size:2.5rem;
    font-weight:750;
  }
  .cnt p{
    margin-top: 2rem;
    font-size:1.5rem;
  }
  .cnt a{
    font-size:1.5rem;

  }

}






/* FOOTER */
.fr{
  background:var(--dark);
  padding:2rem 0;

}
.fr__wrapper{
color: gray;
display: flex;
align-items: center;
justify-content: space-between;
}
.fr__social{
  display:flex;
  align-items:center;
}
.fr__social a{
  color: gray;
  font-size:2rem;
}
.fr__social ul{
  display:flex;
  align-items:center;
}
@media screen and ( max-width:486px){
  .fr__wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  .fr__social{
    display:flex;
    flex-direction:column;
  }
  }











  /* REPEATABLE PATTERNS */
  :root{
    --dark:#2b2b2b;
    --light:#ffffff;
    --primary:#ffa700;
  }
  .srvc__wrapper{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:5rem;
    text-align:center;

  }
  .btn{
    display:inline-block;
    padding:1rem 1.5rem;
    border-radius:5rem;
    border:1px solid transparent;
    text-align:center;
    transition:5s ease;
  }
  .btn.bg--primary{
    background:var(--primary);
    color:#ffffff;

  }
  .btn.bg--primary:hover{
    background:#2b2b2b;
    BORDER:1PX solid #ffffff;
    scale:1.1;
    transition:5s ease;
  }

  .btn.bg--fb:hover{
    color:#316FF6;
    scale:1.1;
    transition:.5s ease;
  }
  .btn.bg--twtr:hover{
    color:#1DA1F2;
    scale:1.1;
    transition:.5s ease;

  }
  .btn.bg--ig:hover{
    color:#962fbf;
    scale:1.1;
    transition:.5s ease;
  }
  .btn.bg--yt:hover{
    color:#ff0000;
    scale:1.1;
    transition:.5s ease;
  }
  .btn.bg--mail:hover{
    color:#25d366;
    scale:1.1;
    transition:.5s ease;

  }


  /* GRID */
  .container{
    
    max-width:120rem;
    margin:0 auto;
    padding:1.5rem;
    width:100%;
}

/* HEADER */
.header{
    background:#2b2b2b;
    position:relative;
    z-index:999;
    position:fixed;
    width:100%;
  }
  .header h3 span{
    color: var(--primary);
  }
  .header .branding{
    display:flex;
    align-items:center;
    gap:2rem;
  }
  .header .branding h3{
color:#ffffff;
font-size:2.5rem;
font-weight:600;
  }
  .header .header__nav ul{
    display:flex;
    align-items:center;
    gap:2.5rem;
  }
  .header .header__nav ul li a{
    color:#ffffff;
  }
  .header .header__nav ul li:hover a{
    color:#ffa700;
  }
.header .header__nav ul li:hover{
  scale:1.1;
  transition:.5s ease;
}

  .header .header__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  .burgir__menu span{
    width:3rem;
    height:.3rem;
    background-color:var(--light);
    display:block;
    border-radius:5rem;
    transition:.5s ease
  }
  .burgir__menu span:nth-child(2){
    margin:.5rem 0;
  }
.burgir__menu{
  display:none;
}
.burgir__menu.open span:first-child{
  transform:translate(0,10px) rotate(225deg);
  transition:.5s ease;
}
.burgir__menu.open span:last-child{
  transform:translate(0,-7px) rotate(-225deg);
  transition:.5s ease;
}
.burgir__menu.open span:nth-child(2){
  opacity:0;
  transition:.5s ease;
}
.header.open {
  background: transparent;
  transition: 0.5s ease;
}
.header .container {
  margin-top: 0;
  transition: 0.5s ease;
}
.header.open .container {
  background: #2b2b2b;
  border-radius: 5rem;
  margin-top: 10rem;
  transition: 0.5s ease;
}



@media screen and ( max-width:486px){
  .burgir__menu{
    display:block;
  }
  .header__nav{
    background:gray;
    position:absolute;
    top:10.3rem;
    right:-100rem;
    width:100%;
    height:100vh;
    transition:.5s ease
  }
  .header__nav.open{
    right:0;
    transition:.5s ease;
  }
  .header__nav ul{
    display:flex;
    flex-direction:column;
    transform:translateY(10rem);
  }
  .header .header__nav ul li a{
font-size:3.5rem;
  }
}





/* DESIGN */
.design{
    padding:15rem 0;
    background:#ffffff;
}
.design .design__text{
    max-width:35rem;
    text-align:justify;
}
.design .design__text h1{
    font-size:4.6rem;
    color:#ffa700;
    font-weight:800;
    line-height:1;
}
.design .design__text h2{
    font-size:4rem;
    color:#ffa700;
    font-weight:700;
    line-height:1;
    margin:1.5rem 0;
}
.design .design__text h3{
    font-size:2rem;
    font-weight:700;
    line-height:1;
}
.design .design__text h4{
    font-style:italic;
}
.design .design__text p{
    margin:3.5rem 0;
    line-height:1.2
    font-weight:600;

}
.design .design__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
@media screen and ( max-width:486px){
    .design .design__wrapper{
        display:flex;
        flex-direction: column-reverse;
    }
    .design img{
        width:25rem;
    }
    .design .design__text h1{
        font-size: 3rem;
    }
    .design .design__text{
        max-width:fit-content;
        text-align:center;
    }
}



/* VECTOR */
.vector{
    padding:5rem 0;
    background:#2b2b2b;
}
.vector__text{
    max-width:35rem;    
}
.vector .vector__text p{
    text-align:justify;

}
.vector .vector__text h1{
    font-size:4.6rem;
    color:#ffa700;
    font-weight:800;
    line-height:1;
    margin:1rem 0;
}
.vector .vector__text h2{
    font-size:4rem;
    color:#ffa700;
    font-weight:700;
    line-height:1;
    margin:1.5rem 0;
}
.vector .vector__text h3{
    font-size:2rem;
    font-weight:700;
    line-height:1;
    color:#ffffff
}
.vector .vector__text h4{
    font-style:italic;
    color:#ffffff
}
.vector .vector__text p{
    margin:3.5rem 0;
    line-height:1.2
    font-weight:600;
    color:#ffffff

}
.vector .vector__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:row-reverse;
}
@media screen and ( max-width:486px){
    .vector .vector__wrapper{
        display:flex;
        flex-direction: column-reverse;
    }
    .vector img{
        width:25rem;
    }
    .vector .vector__text h1{
        font-size: 3rem;
    }
    .vector .vector__text{
        max-width:fit-content;
        text-align:center;
    }
}






/* MEDIA */
.media{
    padding:5rem 0;
    background:#ffffff;
}
.media .media__text{
    max-width:35rem;
    text-align:justify;
}
.media .media__text h1{
    font-size:4.6rem;
    color:#ffa700;
    font-weight:800;
    line-height:1;
}
.media .media__text h2{
    font-size:4rem;
    color:#ffa700;
    font-weight:700;
    line-height:1;
    margin:1.5rem 0;
}
.media .media__text h3{
    font-size:2rem;
    font-weight:700;
    line-height:1;
}
.media .media__text h4{
    font-style:italic;
}
.media .media__text p{
    margin:3.5rem 0;
    line-height:1.2
    font-weight:600;

}
.media .media__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
@media screen and ( max-width:486px){
    .media .media__wrapper{
        display:flex;
        flex-direction: column-reverse;
    }
    .media img{
        width:25rem;
    }
    .media .media__text h1{
        font-size: 3rem;
    }
    .media .media__text{
        max-width:fit-content;
        text-align:center;
    }
}


  /* CTS */
  
  .cnt{
    background:#ffa700;
    padding:5rem 0;
  }
  .cnt__wrapper{
    text-align:center;
  }
  .cnt h2{
    font-size:4rem;
    font-weight:600;
  }
  .cnt p{
    margin-bottom:3rem;
  }
  .btn.bg--dark{
    background:#2b2b2b;
    color:#ffffff;
  }
  .btn.bg--dark:hover{
    background:transparent;
    border:1px solid #2b2b2b;
    color:#2b2b2b;
    scale:1.1;
    transition:.5s ease;
  }
  @media screen and ( max-width:486px){
    .cnt h2{
        font-size:2.5rem;
        font-weight:750;
      }
      .cnt p{
        margin-top: 2rem;
        font-size:1.5rem;
      }
      .cnt a{
        font-size:1.5rem;
    
      }
  }



  /* FOOTER */
.footer{
    background:var(--dark);
    padding:2rem 0;
  
  }
  .footer__wrapper{
  color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  .footer__social{
    display:flex;
    align-items:center;
  }
  .footer__social a{
    color: gray;
    font-size:2rem;
  }
  .footer__social ul{
    display:flex;
    align-items:center;
  }
  @media screen and ( max-width:486px){
    .footer__wrapper{
      display:flex;
      flex-direction:column;
      align-items:center;
    }
    .footer__social{
      display:flex;
      flex-direction:column;
    }
    }
  


:root{
    --dark:#2b2b2b;
    --light:#ffffff;
    --primary:#ffa700;
  }

  .btn{
    display:inline-block;
    padding:1rem 1.5rem;
    border-radius:5rem;
    border:1px solid transparent;
    text-align:center;
    transition:5s ease;
  }
  .btn.bg--primary{
    background:#ffa700;
    color:#ffffff;

  }
  .btn.bg--primary:hover{
    background:#2b2b2b;
    BORDER:1PX solid #ffffff;
    scale:1.1;
    transition:5s ease;
  }

{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
*:before,
*:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}



/* ABOUT */
.about{
padding:10rem 0;
background:#ffffff;
}
.about .about__text{
max-width:45rem;
color: #2b2b2b;
}
.about .about__text h1{
font-size:8.5rem;
color:#ffa700;
font-weight:800;
line-height:1;
}
.about .about__text p{
margin: 4rem 0;
text-align: justify;
}
.about .about__wrapper{
display: flex;
align-items:center;
justify-content:space-between;
flex-direction: row;
}
.about ul li a{
color: var(--primary);
}
.about ul {
display: flex;
justify-content: flex-start;
align-items: left;
gap:1rem;
}
.about .about__social{
max-width:fit-content
}

@media screen and (max-width:486px){
.about{
padding-bottom: 5rem;
}
.about .about__wrapper{
display: flex;
flex-direction: column-reverse ;
}
.about img{
width: 30rem;
}
.about .about__text h1{
font-size: 3rem;
padding: 2rem 0;
margin-top: 0.5rem;
}
.about .about__text p{
margin: 3rem;
text-align: justify;
}
.about .about__text{
max-width: fit-content;
text-align: center;
}
.about ul{
display: flex;
justify-content: center;
} 
}

/* projects */
.rp{
padding:5rem 0;
background:var(--dark);
}
.rp__title h2{
font-size:6rem;
color:var(--primary);
font-weight:600;
}
.rp__title p{
color:var(--light);
}
.rp__title{
margin-bottom:6rem;
}
.rp__card{
background:var(--light);
border-radius:2rem;
transition:.5s ease;
}
.rp__wrapper{
display:grid;
grid-template-columns:1fr 1fr 1fr;
grid-gap:5rem;
}
.rp__text{
padding:1rem;
}
.rp__text{
margin:2rem 0;
}
.rp__text h4{
color:var(--primary);
font-weight:600;
}
.rp__text a{
color:var(--primary);
}
.rp__text a:hover{
color:var(--dark);
}
.rp__card:hover{
scale:1.1;
transition:.5s ease;
}
@media screen and (max-width:486px){
  .rp{
    padding: 3rem 2rem;
  }
  .rp__wrapper{
    display: flex;
    flex-direction: column;
  }
  .rp__text{
    text-align: center;
  }
  .rp__text p{
    text-align: justify;
  }
  .rp__title{
    text-align: center;
  }
  .rp img{
    width: 50rem;
  }
  .rp__card{
    border-radius: 3rem;
  }
}

/* CTS */

.cnt{
background:#ffa700;
padding:5rem 0;
}
.cnt__wrapper{
text-align:center;
}
.cnt h2{
font-size:4rem;
font-weight:600;
}
.cnt p{
margin-bottom:3rem;
}
.btn.bg--dark{
background:#2b2b2b;
color:#ffffff;
}
.btn.bg--dark:hover{
background:transparent;
border:1px solid #2b2b2b;
color:#2b2b2b;
scale:1.1;
transition:.5s ease;
}
@media screen and (max-width:486px){
  .cnt{
    padding: 2rem 0;
  }
  .cnt__wrapper{
    text-align: center;
  }
  .cnt h2{
    font-size: 2rem;
  }
  .cnt p{
    font-size: 1.3rem;
    margin-bottom: 0;
    padding: 1rem 0;
  }
  .cnt a{
    font-size: 1rem;
  }
}


/* FOOTER */
.ft{
background:var(--dark);
padding:2rem 0;

}
.ft__wrapper{
color: gray;
display: flex;
align-items: center;
justify-content: space-between;
}
.ft__social{
display:flex;
align-items:center;
}
.ft__social a{
color: gray;
font-size:2rem;
}
.ft__social ul{
display:flex;
align-items:center;
}
@media screen and (max-width:486px){
  .ft{
    padding: 0rem;
  }
  .ft__wrapper{
    display: flex;
    flex-direction: column;
    font-size: .7rem;
    align-items: flex-end;
    flex-direction: row;
  }
.ft__social{
flex-flow: column wrap;
flex-direction: row;
flex-wrap: nowrap;
}
.ft__social ul{
gap:0.3rem;
}
}

/* UPDATES */
.updates{
  padding:5rem 0;
}
.updates__title h1{
  font-size:4.6rem;
  color:#ffa700;
  font-weight:800;
  line-height:1;
  margin-top: 7rem;

}
.updates__left ul{
  display:flex;
  flex-direction:row;
  gap:6rem;
  font-size:1.5rem;
}
.updates .updates__title p{
  margin-bottom:5rem;
  margin-top:1rem;
  
}
.updates__left h2{
  margin-top:3rem;
  color:#ffa700;
  font-size:3rem;
  font-weight:600;
}
.updates__left p{
  margin:1.5rem 0;
  text-align:justify;
  max-width:72rem
}
.updates__left a{
  padding:3rem 0;
  color:#ffa700;
  font-size:2rem;
}
.updates__left ul li{
  display:flex;
  align-items:center;


}
.updates__left img{
  /* margin:1.5rem 0; */
}
.updates__wrapper{
  display:grid;
  grid-template-columns:2.5fr 1.5fr;

}
{
  border-bottom:0.5px solid gray;
}
ol{
  border-bottom:0.5px solid gray;
}
.updates__left img{
  padding-top:5rem;
}
 /* UPDATES RIGHT */

.updates__right h2{
  font-size:2rem;
  color:#ffa700;
  font-weight:700;
  line-height:1;
  padding-bottom:3rem;
  
  
}
.updates__right{
  margin:5rem;
  margin-bottom:20rem;
  line-height:

}
.updates__right ul li{ 
  padding:1.5rem 0;
  display:flex;
  align-items:center;
  justify-content:space-between
}
.updates__right h3{
  font-size:2rem;
  font-weight:600;
  margin-top:8rem;
  color:#ffa700;
}
.updates__right ul .txt{
  padding:2rem;
  font-weight:bold;

}
.updates__right ul h4{
  font-weight:100;
}
.txt h4{
  padding-top:2rem;
}
.updates__right h6{
  font-size:2rem;
  font-weight:600;
  margin-top:8rem;
  color:#ffa700;
}

.updates__right{
  padding:5rem 0;
  color:var(--dark);
  
}
.uds__tags ul li{
  display:flex;
}
.uds__tags ul li .una{
  padding-right:1.5rem;
  padding-bottom:1rem;
}
.uds__tags ul li .tatlo{
  padding-right:1.5rem;
  padding-bottom:1rem;
}
.uds__tags ul li .lima{
  padding-right:1.5rem;
}
.uds__tags ul li a{
  padding:1.3rem;
}







/* 
REPEATABLE PATTERN */

.tgs{
    display:inline-block;
    padding:0 .5rem;
    border:1px solid transparent;
    text-align:center;
    transition:.5s ease;
    border-radius:5rem;
    border-color:black;
  }
  .tgs.bg--light{
    background:var(--light);
    color:var(--dark);
    border-color:var(--dark);
  }
  .tgs.bg--light:hover{
    background:var(--dark);
    border:1px solid var(--dark);
    color:var(--light);
    scale:1.1;
    transition:.5s ease;
    border-radius:5rem;
  }
  
























/* REPEATABLE PATTERNS */
:root{
--dark:#2b2b2b;
--light:#ffffff;
--primary:#ffa700;
}
.srvc__wrapper{
display:grid;
grid-template-columns:1fr 1fr 1fr;
grid-gap:5rem;
text-align:center;

}
.btn{
display:inline-block;
padding:1rem 1.5rem;
border-radius:5rem;
border:1px solid transparent;
text-align:center;
transition:5s ease;
}
.btn.bg--primary{
background:var(--primary);
color:#ffffff;

}
.btn.bg--primary:hover{
background:#2b2b2b;
BORDER:1PX solid #ffffff;
scale:1.1;
transition:5s ease;
}

.btn.bg--fb:hover{
color:#316FF6;
scale:1.1;
transition:.5s ease;
}
.btn.bg--twtr:hover{
color:#1DA1F2;
scale:1.1;
transition:.5s ease;

}
.btn.bg--ig:hover{
color:#962fbf;
scale:1.1;
transition:.5s ease;
}
.btn.bg--yt:hover{
color:#ff0000;
scale:1.1;
transition:.5s ease;
}
.btn.bg--mail:hover{
color:#25d366;
scale:1.1;
transition:.5s ease;

}